:root{
    --titulo-principal:#9886ff;
    --cor-do-texto:#Fdafab; 
    --cor-de-fundo:#bfe8f8;
    --cor-do-botao:#f7d1d1;
}
body{
    background-color:var(--cor-de-fundo);
}
h1{
    color:var(--titulo-principal);
}
*{
    margin:0;
    padding: 0;
}
